@import "tailwindcss";
@import "tw-animate-css";

.root {
  isolation: isolate;
}

:root {
  --background: #f2eeeb;
  --foreground: #000000;
  --overlay-foreground: #ffffff;
  --border: #c5c5c5;
  --destructive: #d70040;

  --nav-height: 80px;
}

@theme inline {
  --font-playfair: "Playfair Display", serif;
  --font-brittany: "Brittany", cursive;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-overlay-foreground: var(--overlay-foreground);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --spacing-nav-height: var(--nav-height);
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground font-playfair;
  }
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
