@font-face {
  font-family: "Brittany";
  src: url("/assets/fonts/brittany.woff2") format("woff2"),
    url("/assets/fonts/brittany.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
